backend/.env
backend/data/
backend/qb_profiles/
backend/app.log
backend/__pycache__/
backend/core/__pycache__/
node_modules/
dist/
.DS_Store
backend/venv/
venv/
backend/frontend_dist/
backend/downloads/
*.pyc
frontend/frontend_dist_prebuilt/
frontend/public/
frontend/dist/